<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><% if content[slug]['name'] %><%= content[slug]['name'] %> - <% end %>GitHub Readme Website</title>
		<link type="text/css" href="css/monospace.css" rel="stylesheet" />
   
	</head>
	<body>
    <div id="window">
      <table id="maintable"><tr><td>
        <div id="left">
	        <div id="left-title">File List</div>
          <ul>
            <% 0.upto((content.keys.length) -1) { |i| %>
              <li<% if (content.keys[i] == slug) then %> class="current"<% end %>><a href="/<%= content.keys[i] %>"><%= content[content.keys[i]]['shortname'] %></a></li>
            <% } %>
          </ul>
        </div>
      </td><td>
        <div id="right">
		      <%= content[slug]['html'] %>
        </div>
      </td></tr></table>
    </div>
	</body>
</html>
