html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    background-color: #222222;
    font-family: "Ubuntu Mono", "Menlo", "Monaco", "DejaVu Sans Mono", "Monospace", monospace;
    color: white;
    font-size: 80%;
    margin: 0;
    padding: 0;
    height: 100%;
}

div#window {
    background-color: black;
    padding: 0.5em;
    width: 75em;
    margin: 2em auto 0 auto;
}

table#maintable {
    border-collapse:collapse;
    height: 100%;
    width: 100%;
}

table#maintable tbody, table#maintable tr {
    height: 100%;
}

table#maintable td {
    height: 100%;
    border: 1px solid #00ff00;
    vertical-align:top;
}

div#left {
    width: 15em;
    padding: 0.1em;
    overflow-x: hidden;
    overflow-y: auto;
}

div#left-title {
    text-decoration:underline;
    padding-bottom: 1em;
    color: #00ff00;
}

div#left ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#left ul li {
    white-space: nowrap;
}

div#left ul li a {
    color: #00ff00;
    text-decoration: none;
}

div#left ul li.current {
    background-color: #00ff00;
}

div#left ul li.current a {
    color: #000000;
}

div#left ul li a:hover {
    color: #ffffff;
}

div#right {
    height: 100%;
    padding: 1.1em;
    overflow: auto;
}

div.clear {
    clear:both;
}

h1, h2, h3, h4 {
    font-size: 100%;
    margin: 0;
}

h1 {
    color: #ff0000;
    font-weight:bold;
    text-decoration:underline;
}

h2 {
    color: #ffff00;
    font-weight:bold;
    text-decoration:underline;
}

h3 {
    color: #ffff00;
    text-decoration:underline;
}

h4 {
    color: #ffff00;
    font-weight:bold;
}

code {
    color: #aaf;
    font-size: 130%;
}

blockquote {
    color: #888;
}
