html {
    height:100%;
}

body {
    background-color: black;
    font-size: 75%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    font-family: "Ubuntu Mono", "Menlo", "Monaco", "DejaVu Sans Mono", "Monospace", monospace;
}

div#window {
    padding-top:1em;
}

div#tabs {
    font-family: "Ubuntu", "Lucida Grande", "Arial", sans-serif;
    width: 70%;
    margin: 0 auto;
}

div#tabs .scroller {
    overflow:auto;
}

div#tabs a {
    font-weight: normal;
    padding: 0.2em 0.4em;
}

div#tabs li {
    width:2em;
    overflow:hidden;
}

div#tabs li.ui-tabs-active {
    width:auto;
}

h1, .ui-widget-content a {
    color: #88f;
}

h2, h3, h4 {
    color: #8f8;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 140%;
}

code {
    color: #ff8;
    font-size:1.2em;
}

blockquote {
    color: #888;
}
